* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #c1ffce;
  padding: 5vh;
  width: auto;
  justify-content: center;
  height: auto;
}

.input-container input {
  display: block;
  margin-bottom: 2vh;
  border: 2px solid black;
  height: 3vh;
  padding: 0 1vh;
}

input[type="submit"] {
  padding: 0.5vh 0.5vw;
  cursor: pointer;
  font-size: 20px;
  height: auto;
  margin: 2vh 0;
  border: 3px solid black;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

input[type="submit"]:hover {
  transform: translate(-2px, -2px); 
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, 0.2);
}

.form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid black;
  background: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  padding: 5vh 0;
  margin-top: 1vh;
}

.main-content {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: rgb(251, 252, 255);
  z-index: 1;
  flex-direction: column;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 2vh;
  width: auto;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  position: relative;
  padding-left: 2vw;
  cursor: pointer;
  user-select: none;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2vh;
  height: 2vh;
  border: 2px solid #333;
  background-color: #fff;
}

input[type="checkbox"]:checked + label:before {
  background-color: #fff;
  content: "✔";
  line-height: 2vh;
}

.input-container h3 {
  width: 18vw;
}

.logo-container {
  height: auto;
  padding: 5vh;
}

.logo-container img {
  height: 8vh;
}

.header-top {
  width: 100vw;
  display: flex;
  background: rgb(250, 251, 255);
  border-bottom: 3px solid black;
  height: 15vh;
  align-items: center;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  justify-content: space-between;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.error-container {
  background: rgb(241, 181, 181);
  margin: 2vh 0;
  padding: 1vh;
  color: rgb(240, 93, 93);
  border: 3px dashed rgb(240, 93, 93);
  max-width: 16vw;
}

.input-container a {
  margin: 1vh 0;
}

.main-content h2 {
  margin-top: 10vh;
}

.header-nav {
  display: flex;
  flex-direction: row;
  margin-right: 2vw;
}

.header-nav ul {
  display: flex;
  flex-direction: row;
}

.header-nav ul li {
  list-style: none;
  margin: 0 1vw;
  background: #c1ffce;
  border: 3px solid black;
  padding: 1vh 2vh;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header-nav ul li:hover {
  transform: translate(-2px, -2px); 
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, 0.2);
}

.header-nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(59, 148, 238);
}

.table-container {
  margin-top: 3vh;
  background: rgb(170, 199, 237);
  display: flex;
  flex-direction: row;
}

.table {
  width: 100%;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
}

.table th,
.table td {
  width: 15vw;
  padding: 1vh 2vh;
  border: 3px solid black;
  background: #e7ffec;
}

.table th {
  font-weight: bold;
  background: #a3f4bf;
}

.table-heading {
  background: rgb(170, 199, 237);
  border: 3px dashed black;
  padding: 1vh 1vw;
}

.close-button {
  position: absolute;
  top: 28vh;
  right: 16vw;
}

.close-button button {
  border: 3px solid black;
  padding: 0.3vh 0.6vw;
  font-size: 16px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  transform: translate(50%, 50%);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.close-button button:hover {
  transform: translate(47%, 47%); 
  box-shadow: 5px 5px 2px 2px rgba(0, 0, 255, 0.2);
  cursor: pointer;
}

.shit1  {
  position: absolute;
  top: 28vh;
  right: 20vw;
  border: 3px solid rgb(144, 144, 144);
  padding: 0.3vh 0.5vw;
  font-size: 16px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  transform: translate(50%, 50%);
  color: rgb(144, 144, 144);
  background: rgb(234, 234, 234);
  cursor: default;
  user-select: none;
}

.shit2 {
  position: absolute;
  top: 28vh;
  right: 24vw;
  border: 3px solid rgb(144, 144, 144);
  padding: 0.3vh 0.7vw;
  font-size: 16px;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 255, 0.2);
  transform: translate(50%, 50%);
  color: rgb(144, 144, 144);
  background: rgb(234, 234, 234);
  cursor: default;
  user-select: none;
}

.add-button button {
  border-top: 3px dashed rgb(154, 151, 151);
  border-bottom: 3px dashed rgb(154, 151, 151);
  border-right: 3px dashed rgb(154, 151, 151);
  border-left: none;
  background: rgb(231, 235, 241);
  padding: 1vh 1vw;
  cursor: pointer;
  color: rgb(154, 151, 151);
  font-weight: bold;
  font-size: 32px;
  user-select: none;
}

.table_heading-container {
  display: flex;
  flex-direction: row;
}
